In [1]:
import pandas as pd

In [9]:
ctv_train_files = pd.read_csv('yolo/datasets/cleaned_trainval_110724/train_list.txt', sep='\t')
ctv_train_tp = ctv_train_files[ctv_train_files['tp'] == 1]
ctv_train_tp['filename'] = ctv_train_tp['file'].str[:-4]
ctv_train_tp

/tmp/ipykernel_1219290/2758680242.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ctv_train_tp['filename'] = ctv_train_tp['file'].str[:-4]

                          file  tp             filename
3      pi9_20240723_090924.jpg   1  pi9_20240723_090924
6      0586_t1_fs_20230611.jpg   1  0586_t1_fs_20230611
8      6111_t3_fn_20230708.jpg   1  6111_t3_fn_20230708
9      0300_t1_fs_20230610.jpg   1  0300_t1_fs_20230610
26     pi9_20240723_093754.jpg   1  pi9_20240723_093754
...                        ...  ..                  ...
10616  pi9_20240723_094636.jpg   1  pi9_20240723_094636
10617  6471_t2_fn_20230715.jpg   1  6471_t2_fn_20230715
10627  pi9_20240723_094257.jpg   1  pi9_20240723_094257
10630  7033_t4_fn_20230720.jpg   1  7033_t4_fn_20230720
10633  3453_t2_fn_20230705.jpg   1  3453_t2_fn_20230705

[1943 rows x 3 columns]

In [6]:
ctv_val_files = pd.read_csv('yolo/datasets/cleaned_trainval_110724/val_list.txt', sep='\t')
ctv_val_tp = ctv_val_files[ctv_val_files['tp'] == 1]
ctv_val_tp

                         file  tp
5     pi1_20240715_075744.jpg   1
7     pi3_20240715_145655.jpg   1
8     6784_t4_hj_20230719.jpg   1
11    6957_t4_hj_20230719.jpg   1
13    6969_t4_hj_20230719.jpg   1
...                       ...  ..
4399  6858_t4_hj_20230719.jpg   1
4419  pi3_20240715_122409.jpg   1
4427  pi1_20240713_113055.jpg   1
4442  pi3_20240713_142054.jpg   1
4443  6734_t4_hj_20230719.jpg   1

[714 rows x 2 columns]

In [17]:
tbbg_train_files = pd.read_csv('yolo/datasets/tiled_balance_bg_052025/train_list.txt', sep='\t')
tbbg_train_tp = tbbg_train_files[tbbg_train_files['tp'] == 1]
tbbg_train_tp['filename'] = tbbg_train_tp['file'].str.replace(r'\.jpg$', '', regex=True)          
tbbg_train_tp['filename'] = tbbg_train_tp['filename'].str.replace(r'_\d+$', '', regex=True)     

len(tbbg_train_tp['filename'].unique())

/tmp/ipykernel_1219290/98877922.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tbbg_train_tp['filename'] = tbbg_train_tp['file'].str.replace(r'\.jpg$', '', regex=True)
/tmp/ipykernel_1219290/98877922.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tbbg_train_tp['filename'] = tbbg_train_tp['filename'].str.replace(r'_\d+$', '', regex=True)

1943